<div class="col-md-12">
    <div class="form-group">
        <label for="instructions">Instructions</label>
        <input type="text" data-bind="value: instructions, valueUpdate: 'afterkeydown'" />
    </div>

    <div class="form-group">
        <label for="link">Link</label>
        <input type="text" data-bind="value: link, valueUpdates: 'afterkeydown'" />
    </div>

</div>
